Weight of Metrics

In [ ]:
# entropy = dict()
entropy = {'URL Ranks':0.7233327619823717,
'Hacker Words' : 0.5376825550602838,
'Techwords': 0.5626924198327272,
'Knowledge_Aq': 0.8445989815613262,
'Knowledge_Rq': 0.5816258451148945,
'Number of messages per user': 0.8359578588742007,
'email_address': 0.3892355121192513,
'domains': 0.7572854328170585,
'IPv4_CIDRs': 0.44858599881564426,
'IPv4s': 0.7265614285002268,
'IPv6s': 0.315308220858473}


print(entropy)
print(type(entropy))

# sum of entropies

count = 0
for k,v in entropy.items():
  # print(v)
  count = count + (1-v)

print(count)

weights = dict()

for k,v in entropy.items():
  weights[k] = (1-v)/count

{'URL Ranks': 0.7233327619823717, 'Hacker Words': 0.5376825550602838, 'Techwords': 0.5626924198327272, 'Knowledge_Aq': 0.8445989815613262, 'Knowledge_Rq': 0.5816258451148945, 'Number of messages per user': 0.8359578588742007, 'email_address': 0.3892355121192513, 'domains': 0.7572854328170585, 'IPv4_CIDRs': 0.44858599881564426, 'IPv4s': 0.7265614285002268, 'IPv6s': 0.315308220858473}
<class 'dict'>
4.277132984463543

In [ ]:
weights

{'URL Ranks': 0.06468520829784981,
 'Hacker Words': 0.10809050048690551,
 'Techwords': 0.10224315721670783,
 'Knowledge_Aq': 0.03633298730789053,
 'Knowledge_Rq': 0.09781649446131961,
 'Number of messages per user': 0.03835329453670803,
 'email_address': 0.14279763806720955,
 'domains': 0.05674702378078708,
 'IPv4_CIDRs': 0.12892140674310051,
 'IPv4s': 0.06393034130409886,
 'IPv6s': 0.16008194779742257}

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

#HACKER WORDS

In [ ]:
import pandas as pd
csv_hacker = pd.read_csv("/content/drive/MyDrive/Dataset/10.csv_Part0-hack_words-2.csv", header=0)
display(csv_hacker)
gb = csv_hacker.groupby('txtAuthor')['hacker_words'].apply(list)
df = gb.to_frame()
display(df)

,Unnamed: 0,txtAuthor,txtBody_NoQuote_Clean,hacker_words
0,0,viruslover,"Hi guys i came up with a competition , the mem...","['key', 'thread']"
1,1,TROY,good work bro,[]
2,2,Pancakes,Thanj yiu-,[]
3,3,prohr,Thanks......,[]
4,4,stoner88,thnkssssss,[]
...,...,...,...,...
935444,13378,blackmamba123,@l3awa@ said: ↑ ...,[]
935445,13379,Tochesky,We are part of a team consisting of highly eff...,"['hack', 'hack', 'money', 'software', 'web', '..."
935446,13380,cicoria,hi nice to meet you!!,[]
935447,13381,NewsFeed,BlackBerry has long been known for its stance...,"['security', 'phone', 'backdoor', 'key', 'key'..."
935448,13382,BlackM1n,Hidden Content:,[]

                                                        hacker_words
txtAuthor
!! FiGo !!                                          [[], [], [], []]
!-Bb0yH4cK3r_Dz-!  [[], [], [], ['exploit'], [], [], [], [], [], ...
#13bond                                             [[], [], [], []]
#3171                       [[], [], [], [], [], [], [], [], [], []]
#An0nsouL                                                   [[], []]
...                                                              ...
özgür                                                       [[], []]
İsmail NDJDJ                                            [[], [], []]
ǟʀӄǟʍ ʄӼ                                                    [[], []]
αραcнє™ʕ•͡ᴥ•ʔ                                                   [[]]
飞狐外传               [[], [], [], [], [], [], [], [], [], [], [], [...

[70935 rows x 1 columns]

In [ ]:
def count_hackers(row):
  count = 0
  for i in row:
    i = i.replace("[", "")
    i = i.replace("]", "")
    if i != '':
      i = i.split(",")
      count += len(i)
  return count

In [ ]:
df["Hacker_count"] = df["hacker_words"].apply(count_hackers)
display(df)

,hacker_words,Hacker_count
txtAuthor,,
!! FiGo !!,"[[], [], [], []]",0
!-Bb0yH4cK3r_Dz-!,"[[], [], [], ['exploit'], [], [], [], [], [], ...",2
#13bond,"[[], [], [], []]",0
#3171,"[[], [], [], [], [], [], [], [], [], []]",0
#An0nsouL,"[[], []]",0
...,...,...
özgür,"[[], []]",0
İsmail NDJDJ,"[[], [], []]",0
ǟʀӄǟʍ ʄӼ,"[[], []]",0
αραcнє™ʕ•͡ᴥ•ʔ,[[]],0
飞狐外传,"[[], [], [], [], [], [], [], [], [], [], [], [...",2

Data Standardization

In [ ]:
max_val = int(df['Hacker_count'].max())
min_val = int(df['Hacker_count'].min())
li = list()
diff = max_val - min_val
for index,row in df.iterrows():
    val = float((int(row['Hacker_count']) - min_val)/diff)
    # print(type(val))
    li.append(val)

df['Data_Standardization'] = li
display(df)

,hacker_words,Hacker_count,Data_Standardization
txtAuthor,,,
!! FiGo !!,"[[], [], [], []]",0,0.000000
!-Bb0yH4cK3r_Dz-!,"[[], [], [], ['exploit'], [], [], [], [], [], ...",2,0.000219
#13bond,"[[], [], [], []]",0,0.000000
#3171,"[[], [], [], [], [], [], [], [], [], []]",0,0.000000
#An0nsouL,"[[], []]",0,0.000000
...,...,...,...
özgür,"[[], []]",0,0.000000
İsmail NDJDJ,"[[], [], []]",0,0.000000
ǟʀӄǟʍ ʄӼ,"[[], []]",0,0.000000
αραcнє™ʕ•͡ᴥ•ʔ,[[]],0,0.000000
飞狐外传,"[[], [], [], [], [], [], [], [], [], [], [], [...",2,0.000219

Entropy

In [ ]:
from math import log
import pandas as pd

n = len(df)
k = 1/(log(n))
total = df['Data_Standardization'].sum()
p = list()
for index,row in df.iterrows():
    x = row["Data_Standardization"]
    p.append(float(x/total))

# print(p)

e = list()
for i in p:
    if i != 0.0:
        temp = log(i) * i
        e.append(float(temp))
    else:
        e.append(0.0)

entropy_temp = sum(e)
entropy = (-1*k)*entropy_temp

# df["Entropy"] = e
# display(df)

print(entropy)    
data = {'HackWords': entropy}

Weighted Summation

In [ ]:
li = list()
for index,row in df.iterrows():
    li.append(float(row["Data_Standardization"] * 0.24151045729006376))


df["Weighted_Summation_hackerwords"] = li
# df = df.sort_values(by=["Weighted_Summation_hackerwords"], ascending=False)

# df_users = df[["Weighted_Summation_hackerwords"]]
df_users = df_users.assign(Weighted_Summation_hackerwords=li)
display(df_users)

,txtAuthor,urls,Data_Standardization,Weighted_Summation_urls,Weighted_Summation_tech_words,Weighted_Summation_knowledge_aq,Weighted_Summation_knowledge_rq,Weighted_Summation_hackerwords
0,!! FiGo !!,1,0.000234,0.000034,0.000000,0.0,0.000000,0.000000
1,!-Bb0yH4cK3r_Dz-!,1,0.000234,0.000034,0.000044,0.0,0.000108,0.000053
2,#13bond,36,0.008435,0.001220,0.000000,0.0,0.000000,0.000000
3,#3171,0,0.000000,0.000000,0.000000,0.0,0.000000,0.000000
4,#An0nsouL,0,0.000000,0.000000,0.000000,0.0,0.000000,0.000000
...,...,...,...,...,...,...,...,...
70930,özgür,0,0.000000,0.000000,0.000000,0.0,0.000000,0.000000
70931,İsmail NDJDJ,0,0.000000,0.000000,0.000000,0.0,0.000000,0.000000
70932,ǟʀӄǟʍ ʄӼ,0,0.000000,0.000000,0.000000,0.0,0.000108,0.000000
70933,αραcнє™ʕ•͡ᴥ•ʔ,0,0.000000,0.000000,0.000000,0.0,0.000000,0.000000
70934,飞狐外传,1,0.000234,0.000034,0.000177,0.0,0.000000,0.000053

#KNOWLEDGE AQ

In [ ]:
import pandas as pd
csv11 = pd.read_csv("/content/drive/MyDrive/Dataset/10.csv_Part0.txt", sep="\t", header=0)
csv11.head(10)
df = csv11[["txtAuthor","txtBody_NoQuote_Clean"]]
df.head(5)


gb = df.groupby('txtAuthor')['txtBody_NoQuote_Clean'].apply(list)
# print(gb)
# print(type(gb))
df = gb.to_frame()
display(df)
#------To read knowledge acquistion as a list --------
my_file = open("/content/drive/MyDrive/Dataset/knowledge acquisition.txt", "r")
data = my_file.read()
dl = data.split("\n")
my_file.close()
print(dl)
#------To read Knowledge requesition file as a list-----
their_file = open("/content/drive/MyDrive/Dataset/knowledge requesition.txt", "r")
data = their_file.read()
# data = data.lower()
dr = data.split("\n")
my_file.close()
print(dr)

#-----counting the number of KR words--
def dr_checker(text):
  # text = ' '.join(text)
  # print(type(text))
  count = 0
  for x in dr:
    for ele in text:
      # print(ele)
      # count = count + 1
      if x.lower() in str(ele).lower():
        # print(type(text))
        count = count + 1
  return count 

#-----counting the number of K words--
def dl_checker(text):
  # text = ' '.join(text)
  # print(type(text))
  count = 0
  for x in dl:
    for ele in text:
      # print(ele)
      if x.lower() in str(ele).lower():
        count = count + 1
  return count
 
df["count_acquisition"] = df["txtBody_NoQuote_Clean"].apply(dl_checker)
df["count_requesition"] = df["txtBody_NoQuote_Clean"].apply(dr_checker)
display(df)
# df.to_csv(r'/content/drive/MyDrive/Dataset/export_dataframe.csv', index=False, header=True)

/usr/local/lib/python3.8/dist-packages/IPython/core/interactiveshell.py:3326: DtypeWarning: Columns (2,13,16,17,19,21) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

                                               txtBody_NoQuote_Clean
txtAuthor
!! FiGo !!         [Thank You ..., thank you bro, Thank You .., t...
!-Bb0yH4cK3r_Dz-!  [Things Required :-, thanks bro...Nice.., cccc...
#13bond            [         vladboss133 said:           ↑       ...
#3171              [tyyyyyyyyyyyyyyyyyyyy, tyyyyyyyyyyyyyyyyyyyy,...
#An0nsouL          [Lmme See Thanks For sharing, Thank You .........
...                                                              ...
özgür              [niceee mannnnnnn xd xd       , thanks a lot m...
İsmail NDJDJ       [Çok teşekkür ederim dostum hesaplar çalıştır ...
ǟʀӄǟʍ ʄӼ           [hellodude thanks a lot to have this for us du...
αραcнє™ʕ•͡ᴥ•ʔ                            [thx bro kee pit up       ]
飞狐外传               [thank you so much for this       , Very cute ...

[70935 rows x 1 columns]

['Thanks', 'good ', 'Thank you ', 'nice', 'Great', 'Appreciate', 'inquiry', 'question', 'query', 'call', 'questioning', 'questionnaire', 'survey', 'investigation', 'research', 'poll', 'interrogatory', 'examination', 'interrogation', 'probe', 'study', 'exploration', 'inquisition', 'probing', 'interrogating', 'inquest', 'ask', 'requirement', 'wish', 'want', 'desire', 'choice', 'reply', 'answer', 'inquire', 'query', 'know', 'question', 'interrogate', 'quiz', 'cross-question', 'cross-examine', 'grill', 'pump', 'put-forward', 'submit', 'propose', 'seek', 'get', 'require', 'lack', 'uncertainty', 'lack of certainty', 'unsureness', 'indecision', 'hesitation', 'hesitancy', 'dubiousness', 'suspicion', 'confusion', 'question ', 'mark', 'queries', 'questions', 'solve', 'fix', 'resolve', 'why', 'how']
['reply', 'response', 'rejoin', 'return', 'reaction', 'acknowledgment', 'retort', 'riposte', 'comeback', 'clapback', 'educate', 'instruct', 'school', 'tutor', 'give ', 'lessons ', 'tocoach', 'train', 'upskill', 'grounden', 'lighten', 'illuminate', 'verseed', 'ify', 'preparedin ', 'something into', 'indoctrinate', 'brainwash', 'drill', 'discipline', 'put someone through their paces', 'teach ', 'school', 'train', 'show', 'guide', 'instruct', 'demonstrate ', 'idea', 'learn', 'balance', 'correct', 'fine-tune', 'fix', 'improve', 'overhaul', 'readjust', 'regulate', 'tighten', 'align', 'calibrate', 'connect', 'fit', 'focus', 'grind', 'mend', 'polish', 'rectify', 'renovate', 'repair', 'service', 'set', 'sharpen', 'square', 'bring into line', 'improve accommodate', 'put in working order', 'tune up', 'advice', 'advisement', 'assignment', 'briefing', 'directive', 'indication', 'lowdown', 'notification', 'plan', 'prescription', 'recommendation', 'regulation', 'sealed order', 'specification', 'specs', 'steer', 'summons', 'tip', 'word', 'proof', 'substantiation', 'confirmation', 'affirmation', 'corroboration', 'verification', 'validation', 'evidence', 'indication', 'witness', 'testament']

,txtBody_NoQuote_Clean,count_acquisition,count_requesition
txtAuthor,,,
!! FiGo !!,"[Thank You ..., thank you bro, Thank You .., t...",4,0
!-Bb0yH4cK3r_Dz-!,"[Things Required :-, thanks bro...Nice.., cccc...",10,1
#13bond,[ vladboss133 said: ↑ ...,0,0
#3171,"[tyyyyyyyyyyyyyyyyyyyy, tyyyyyyyyyyyyyyyyyyyy,...",5,0
#An0nsouL,"[Lmme See Thanks For sharing, Thank You .........",2,0
...,...,...,...
özgür,"[niceee mannnnnnn xd xd , thanks a lot m...",2,0
İsmail NDJDJ,[Çok teşekkür ederim dostum hesaplar çalıştır ...,0,0
ǟʀӄǟʍ ʄӼ,[hellodude thanks a lot to have this for us du...,2,1
αραcнє™ʕ•͡ᴥ•ʔ,[thx bro kee pit up ],0,0
飞狐外传,"[thank you so much for this , Very cute ...",17,0

In [ ]:


max_val = df["count_acquisition"].max()
print(max_val)
min_val = df["count_acquisition"].min()
print(min_val)
li = list()

diff = max_val - min_val
for index,row in df.iterrows():
    # print(row["Length_of_messages"])
    val = float((int(row["count_acquisition"]) - min_val)/diff)
    # print(type(val))
    li.append(val)

df['Data_Standardization_count_aq'] = li
display(df)

2467
0

,txtBody_NoQuote_Clean,count_acquisition,count_requesition,Data_Standardization_count_aq
txtAuthor,,,,
!! FiGo !!,"[Thank You ..., thank you bro, Thank You .., t...",4,0,0.001621
!-Bb0yH4cK3r_Dz-!,"[Things Required :-, thanks bro...Nice.., cccc...",10,1,0.004054
#13bond,[ vladboss133 said: ↑ ...,0,0,0.000000
#3171,"[tyyyyyyyyyyyyyyyyyyyy, tyyyyyyyyyyyyyyyyyyyy,...",5,0,0.002027
#An0nsouL,"[Lmme See Thanks For sharing, Thank You .........",2,0,0.000811
...,...,...,...,...
özgür,"[niceee mannnnnnn xd xd , thanks a lot m...",2,0,0.000811
İsmail NDJDJ,[Çok teşekkür ederim dostum hesaplar çalıştır ...,0,0,0.000000
ǟʀӄǟʍ ʄӼ,[hellodude thanks a lot to have this for us du...,2,1,0.000811
αραcнє™ʕ•͡ᴥ•ʔ,[thx bro kee pit up ],0,0,0.000000
飞狐外传,"[thank you so much for this , Very cute ...",17,0,0.006891

In [ ]:
from math import log

n = len(df)
k = 1/(log(n))
total = df['Data_Standardization_count_aq'].sum()
p = list()
for index,row in df.iterrows():
    x = row["Data_Standardization_count_aq"]
    p.append(float(x/total))

# print(p)

e = list()
for i in p:
    if i != 0.0:
        temp = log(i) * i
        e.append(float((-1*k)*temp))
    else:
        e.append(0.0)
df["Entropy"] = e
display(df)

In [ ]:
li = list()
for index,row in df.iterrows():
    li.append(float(row["Data_Standardization_count_aq"] * 0.08118008835111033))

# df = df.sort_values(by=["Weighted_Summation_hackerwords"], ascending=False)
df_users = df_users.assign(Weighted_Summation_knowledge_aq=li)
# df_users = df[["Weighted_Summation_knowledge_aq"]]
# df_users["Weighted_Summation_knowledge_aq"] = li

display(df_users)

,txtAuthor,urls,Data_Standardization,Weighted_Summation_urls,Weighted_Summation_tech_words,Weighted_Summation_knowledge_aq
0,!! FiGo !!,1,0.000234,0.000034,0.000000,0.000132
1,!-Bb0yH4cK3r_Dz-!,1,0.000234,0.000034,0.000044,0.000329
2,#13bond,36,0.008435,0.001220,0.000000,0.000000
3,#3171,0,0.000000,0.000000,0.000000,0.000165
4,#An0nsouL,0,0.000000,0.000000,0.000000,0.000066
...,...,...,...,...,...,...
70930,özgür,0,0.000000,0.000000,0.000000,0.000066
70931,İsmail NDJDJ,0,0.000000,0.000000,0.000000,0.000000
70932,ǟʀӄǟʍ ʄӼ,0,0.000000,0.000000,0.000000,0.000066
70933,αραcнє™ʕ•͡ᴥ•ʔ,0,0.000000,0.000000,0.000000,0.000000
70934,飞狐外传,1,0.000234,0.000034,0.000177,0.000559

#KNOWLEDGE REQUISITION

In [ ]:
max_val = df["count_requesition"].max()
print(max_val)
min_val = df["count_requesition"].min()
print(min_val)
li = list()

diff = max_val - min_val
for index,row in df.iterrows():
    # print(row["Length_of_messages"])
    val = float((int(row["count_requesition"]) - min_val)/diff)
    # print(type(val))
    li.append(val)

df['Data_Standardization_count_rq'] = li
display(df)

2028
0

,txtBody_NoQuote_Clean,count_acquisition,count_requesition,Data_Standardization_count_aq,Data_Standardization_count_rq
txtAuthor,,,,,
!! FiGo !!,"[Thank You ..., thank you bro, Thank You .., t...",4,0,0.001621,0.000000
!-Bb0yH4cK3r_Dz-!,"[Things Required :-, thanks bro...Nice.., cccc...",10,1,0.004054,0.000493
#13bond,[ vladboss133 said: ↑ ...,0,0,0.000000,0.000000
#3171,"[tyyyyyyyyyyyyyyyyyyyy, tyyyyyyyyyyyyyyyyyyyy,...",5,0,0.002027,0.000000
#An0nsouL,"[Lmme See Thanks For sharing, Thank You .........",2,0,0.000811,0.000000
...,...,...,...,...,...
özgür,"[niceee mannnnnnn xd xd , thanks a lot m...",2,0,0.000811,0.000000
İsmail NDJDJ,[Çok teşekkür ederim dostum hesaplar çalıştır ...,0,0,0.000000,0.000000
ǟʀӄǟʍ ʄӼ,[hellodude thanks a lot to have this for us du...,2,1,0.000811,0.000493
αραcнє™ʕ•͡ᴥ•ʔ,[thx bro kee pit up ],0,0,0.000000,0.000000
飞狐外传,"[thank you so much for this , Very cute ...",17,0,0.006891,0.000000

In [ ]:
from math import log
import pandas as pd

n = len(df)
k = 1/(log(n))
total = df['Data_Standardization_count_rq'].sum()
p = list()
for index,row in df.iterrows():
    x = row["Data_Standardization_count_rq"]
    p.append(float(x/total))

# print(p)

e = list()
for i in p:
    if i != 0.0:
        temp = log(i) * i
        e.append(float(temp))
    else:
        e.append(0.0)

entropy_temp = sum(e)
entropy = (-1*k)*entropy_temp

# df["Entropy"] = e
# display(df)

print(entropy)    
data = {'Knowledge_Rq': entropy}
print(data)

0.5816258451148945
{'Knowledge_Rq': 0.5816258451148945}

In [ ]:
li = list()
for index,row in df.iterrows():
    li.append(float(row["Data_Standardization_count_rq"] * 0.21855487948939745))

# df = df.sort_values(by=["Weighted_Summation_hackerwords"], ascending=False)
df_users = df_users.assign(Weighted_Summation_knowledge_aq=lambda x: 0.0)
# df_users = df[["Weighted_Summation_knowledge_aq"]]
df_users["Weighted_Summation_knowledge_rq"] = li

display(df_users)

,txtAuthor,urls,Data_Standardization,Weighted_Summation_urls,Weighted_Summation_tech_words,Weighted_Summation_knowledge_aq,Weighted_Summation_knowledge_rq
0,!! FiGo !!,1,0.000234,0.000034,0.000000,0.0,0.000000
1,!-Bb0yH4cK3r_Dz-!,1,0.000234,0.000034,0.000044,0.0,0.000108
2,#13bond,36,0.008435,0.001220,0.000000,0.0,0.000000
3,#3171,0,0.000000,0.000000,0.000000,0.0,0.000000
4,#An0nsouL,0,0.000000,0.000000,0.000000,0.0,0.000000
...,...,...,...,...,...,...,...
70930,özgür,0,0.000000,0.000000,0.000000,0.0,0.000000
70931,İsmail NDJDJ,0,0.000000,0.000000,0.000000,0.0,0.000000
70932,ǟʀӄǟʍ ʄӼ,0,0.000000,0.000000,0.000000,0.0,0.000108
70933,αραcнє™ʕ•͡ᴥ•ʔ,0,0.000000,0.000000,0.000000,0.0,0.000000
70934,飞狐外传,1,0.000234,0.000034,0.000177,0.0,0.000000

#TECH WORDS

In [ ]:
import pandas as pd
tc = pd.read_csv("/content/drive/MyDrive/Dataset/10.csv_Part0-tech_words-2.csv",header=0)
#display(tc)
#['tech_words']['txtBody_NoQuote_Clean'
gb = tc.groupby('txtAuthor')['tech_words'].apply(list)
df = gb.to_frame()
display(df)

                                                          tech_words
txtAuthor
!! FiGo !!                                          [[], [], [], []]
!-Bb0yH4cK3r_Dz-!  [[], [], [], [], [], [], [], [], [], [], ['dat...
#13bond                                             [[], [], [], []]
#3171                       [[], [], [], [], [], [], [], [], [], []]
#An0nsouL                                                   [[], []]
...                                                              ...
özgür                                                       [[], []]
İsmail NDJDJ                                            [[], [], []]
ǟʀӄǟʍ ʄӼ                                                    [[], []]
αραcнє™ʕ•͡ᴥ•ʔ                                                   [[]]
飞狐外传               [[], [], ['bite'], [], [], [], [], ['job'], []...

[70935 rows x 1 columns]

In [ ]:
def count_hackers(row):
  count = 0
  for i in row:
    i = i.replace("[", "")
    i = i.replace("]", "")
    if i != '':
      i = i.split(",")
      count += len(i)
  return count

In [ ]:
df["TechWords_count"] = df["tech_words"].apply(count_hackers)
display(df)

,tech_words,TechWords_count
txtAuthor,,
!! FiGo !!,"[[], [], [], []]",0
!-Bb0yH4cK3r_Dz-!,"[[], [], [], [], [], [], [], [], [], [], ['dat...",1
#13bond,"[[], [], [], []]",0
#3171,"[[], [], [], [], [], [], [], [], [], []]",0
#An0nsouL,"[[], []]",0
...,...,...
özgür,"[[], []]",0
İsmail NDJDJ,"[[], [], []]",0
ǟʀӄǟʍ ʄӼ,"[[], []]",0
αραcнє™ʕ•͡ᴥ•ʔ,[[]],0
飞狐外传,"[[], [], ['bite'], [], [], [], [], ['job'], []...",4

In [ ]:
max_val = int(df['TechWords_count'].max())
min_val = int(df['TechWords_count'].min())
li = list()
diff = max_val - min_val
for index,row in df.iterrows():
    val = float((int(row['TechWords_count']) - min_val)/diff)
    # print(type(val))
    li.append(val)

df['Data_Standardization'] = li
display(df)

,tech_words,TechWords_count,Data_Standardization
txtAuthor,,,
!! FiGo !!,"[[], [], [], []]",0,0.000000
!-Bb0yH4cK3r_Dz-!,"[[], [], [], [], [], [], [], [], [], [], ['dat...",1,0.000194
#13bond,"[[], [], [], []]",0,0.000000
#3171,"[[], [], [], [], [], [], [], [], [], []]",0,0.000000
#An0nsouL,"[[], []]",0,0.000000
...,...,...,...
özgür,"[[], []]",0,0.000000
İsmail NDJDJ,"[[], [], []]",0,0.000000
ǟʀӄǟʍ ʄӼ,"[[], []]",0,0.000000
αραcнє™ʕ•͡ᴥ•ʔ,[[]],0,0.000000
飞狐外传,"[[], [], ['bite'], [], [], [], [], ['job'], []...",4,0.000776

In [ ]:
from math import log
import pandas as pd

n = len(df)
k = 1/(log(n))
total = df['techwords_count_tc'].sum()
p = list()
for index,row in df.iterrows():
    x = row["techwords_count_tc"]
    p.append(float(x/total))

# print(p)

e = list()
for i in p:
    if i != 0.0:
        temp = log(i) * i
        e.append(float(temp))
    else:
        e.append(0.0)

entropy_temp = sum(e)
entropy = (-1*k)*entropy_temp

# df["Entropy"] = e
# display(df)

print(entropy)    
data = {'Techwords': entropy}
print(data)

In [ ]:
li = list()
for index,row in df.iterrows():
    li.append(float(row["Data_Standardization"] * 0.22844552983801172))

df_users = df_users.assign(Weighted_Summation_tech_words = li)


display(df_users)

,txtAuthor,urls,Data_Standardization,Weighted_Summation_urls,Weighted_Summation_tech_words
0,!! FiGo !!,1,0.000234,0.000034,0.000000
1,!-Bb0yH4cK3r_Dz-!,1,0.000234,0.000034,0.000044
2,#13bond,36,0.008435,0.001220,0.000000
3,#3171,0,0.000000,0.000000,0.000000
4,#An0nsouL,0,0.000000,0.000000,0.000000
...,...,...,...,...,...
70930,özgür,0,0.000000,0.000000,0.000000
70931,İsmail NDJDJ,0,0.000000,0.000000,0.000000
70932,ǟʀӄǟʍ ʄӼ,0,0.000000,0.000000,0.000000
70933,αραcнє™ʕ•͡ᴥ•ʔ,0,0.000000,0.000000,0.000000
70934,飞狐外传,1,0.000234,0.000034,0.000177

#URL

In [ ]:
import pandas as pd
df = pd.read_csv("/content/drive/MyDrive/Dataset/url_count.csv/0.part", header=0)
display(df)

               txtAuthor  urls
0             !! FiGo !!     1
1      !-Bb0yH4cK3r_Dz-!     1
2                #13bond    36
3              #PornStar     0
4                  #vis#     0
...                  ...   ...
70887           ztek2018     0
70888                ztx     0
70889             zukak0     0
70890        zveroboy891     1
70891              zxcam     0

[70892 rows x 2 columns]

In [ ]:
import pandas as pd
df = pd.read_csv("/content/drive/MyDrive/Dataset/ddf_urls_output_updated.csv", header=0)
display(df)

               txtAuthor  urls
0             !! FiGo !!     1
1      !-Bb0yH4cK3r_Dz-!     1
2                #13bond    36
3                  #3171     0
4              #An0nsouL     0
...                  ...   ...
70930              özgür     0
70931       İsmail NDJDJ     0
70932           ǟʀӄǟʍ ʄӼ     0
70933      αραcнє™ʕ•͡ᴥ•ʔ     0
70934               飞狐外传     1

[70935 rows x 2 columns]

In [ ]:
max_val = int(df['urls'].max())
min_val = int(df['urls'].min())
li = list()
diff = max_val - min_val
for index,row in df.iterrows():
    # print(row["Length_of_messages"])
    val = float((int(row["urls"]) - min_val)/diff)
    # print(type(val))
    li.append(val)

df['Data_Standardization'] = li
display(df.sort_values(by=["Data_Standardization"], ascending=False))
display(df)

       txtAuthor  urls  Data_Standardization
56431      rai10  4268              1.000000
24194    bo0mb0m  1482              0.347235
22270   babayaga  1160              0.271790
37497      hi4hh  1121              0.262652
65422   totomono  1119              0.262184
...          ...   ...                   ...
32983  faledward     0              0.000000
32984  falkon504     0              0.000000
32985   fallable     0              0.000000
32986    fallacy     0              0.000000
35467    gnome71     0              0.000000

[70935 rows x 3 columns]

               txtAuthor  urls  Data_Standardization
0             !! FiGo !!     1              0.000234
1      !-Bb0yH4cK3r_Dz-!     1              0.000234
2                #13bond    36              0.008435
3                  #3171     0              0.000000
4              #An0nsouL     0              0.000000
...                  ...   ...                   ...
70930              özgür     0              0.000000
70931       İsmail NDJDJ     0              0.000000
70932           ǟʀӄǟʍ ʄӼ     0              0.000000
70933      αραcнє™ʕ•͡ᴥ•ʔ     0              0.000000
70934               飞狐外传     1              0.000234

[70935 rows x 3 columns]

Entropy

In [ ]:
from math import log
import pandas as pd

n = len(df)
k = 1/(log(n))
total = df['Data_Standardization'].sum()
p = list()
for index,row in df.iterrows():
    x = row["Data_Standardization"]
    p.append(float(x/total))

# print(p)

e = list()
for i in p:
    if i != 0.0:
        temp = log(i) * i
        e.append(float(temp))
    else:
        e.append(0.0)

entropy_temp = sum(e)
entropy = (-1*k)*entropy_temp

# df["Entropy"] = e
# display(df)

print(entropy)    
data = {'URL Count': entropy}
print(data)

0.7233327619823717
{'URL Count': 0.7233327619823717}

In [ ]:
li = list()
for index,row in df.iterrows():
    li.append(float(row["Data_Standardization"] * 0.14461491224069126))
df_users = df.assign(Weighted_Summation_urls = li)

# df_users = df_users.assign(Weighted_Summation_tech_words = li)
# df_ioc = df_users[""]

display(df_users)

               txtAuthor  urls  Data_Standardization  Weighted_Summation_urls
0             !! FiGo !!     1              0.000234                 0.000034
1      !-Bb0yH4cK3r_Dz-!     1              0.000234                 0.000034
2                #13bond    36              0.008435                 0.001220
3                  #3171     0              0.000000                 0.000000
4              #An0nsouL     0              0.000000                 0.000000
...                  ...   ...                   ...                      ...
70930              özgür     0              0.000000                 0.000000
70931       İsmail NDJDJ     0              0.000000                 0.000000
70932           ǟʀӄǟʍ ʄӼ     0              0.000000                 0.000000
70933      αραcнє™ʕ•͡ᴥ•ʔ     0              0.000000                 0.000000
70934               飞狐外传     1              0.000234                 0.000034

[70935 rows x 4 columns]

#E-Mail Addresses

In [ ]:
import pandas as pd
df = pd.read_csv("/content/drive/MyDrive/Dataset/ddf_email_addresses_complete_output_updated.csv", header=0)
display(df)

               txtAuthor  email_addresses_complete
0             !! FiGo !!                         0
1      !-Bb0yH4cK3r_Dz-!                         0
2                #13bond                         0
3                  #3171                         0
4              #An0nsouL                         0
...                  ...                       ...
70930              özgür                         0
70931       İsmail NDJDJ                         0
70932           ǟʀӄǟʍ ʄӼ                         0
70933      αραcнє™ʕ•͡ᴥ•ʔ                         0
70934               飞狐外传                         0

[70935 rows x 2 columns]

In [ ]:
max_val = int(df['email_addresses_complete'].max())
min_val = int(df['email_addresses_complete'].min())
li = list()
diff = max_val - min_val
for index,row in df.iterrows():
    # print(row["Length_of_messages"])
    val = float((int(row["email_addresses_complete"]) - min_val)/diff)
    # print(type(val))
    li.append(val)

df['Data_Standardization'] = li
display(df.sort_values(by=["Data_Standardization"], ascending=False))
#display(df)

        txtAuthor  email_addresses_complete  Data_Standardization
35027   george111                      8529              1.000000
51367     nbossul                      8528              0.999883
67667  waqasosama                      8528              0.999883
42976    kevvanhq                      8528              0.999883
20257  amirhamidi                      8528              0.999883
...           ...                       ...                   ...
24354  bobrussell                         0              0.000000
24355     bobs109                         0              0.000000
24356    bobsaget                         0              0.000000
24357  bobsanchez                         0              0.000000
70934        飞狐外传                         0              0.000000

[70935 rows x 3 columns]

In [ ]:
from math import log
import pandas as pd

n = len(df)
k = 1/(log(n))
total = df['Data_Standardization'].sum()
p = list()
for index,row in df.iterrows():
    x = row["Data_Standardization"]
    p.append(float(x/total))

# print(p)

e = list()
for i in p:
    if i != 0.0:
        temp = log(i) * i
        e.append(float(temp))
    else:
        e.append(0.0)

entropy_temp = sum(e)
entropy = (-1*k)*entropy_temp

# df["Entropy"] = e
# display(df)

print(entropy)    
data = {'email_address': entropy}
#data.to_json()
print(data)

0.3892355121192513
{'email_address': 0.3892355121192513}

In [ ]:
li = list()
for index,row in df.iterrows():
    li.append(float(row["Data_Standardization"] * 0.2418989906218147))
df_users = df_users.assign(Weighted_Summation_email_addresses = li)

# df_users = df_users.assign(Weighted_Summation_tech_words = li)
# df_ioc = df_users[""]

display(df_users)

,txtAuthor,urls,Data_Standardization,Weighted_Summation_urls,Weighted_Summation_tech_words,Weighted_Summation_knowledge_aq,Weighted_Summation_knowledge_rq,Weighted_Summation_hackerwords,Weighted_Summation_email_addresses
0,!! FiGo !!,1,0.000234,0.000034,0.000000,0.0,0.000000,0.000000,0.0
1,!-Bb0yH4cK3r_Dz-!,1,0.000234,0.000034,0.000044,0.0,0.000108,0.000053,0.0
2,#13bond,36,0.008435,0.001220,0.000000,0.0,0.000000,0.000000,0.0
3,#3171,0,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.0
4,#An0nsouL,0,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.0
...,...,...,...,...,...,...,...,...,...
70930,özgür,0,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.0
70931,İsmail NDJDJ,0,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.0
70932,ǟʀӄǟʍ ʄӼ,0,0.000000,0.000000,0.000000,0.0,0.000108,0.000000,0.0
70933,αραcнє™ʕ•͡ᴥ•ʔ,0,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.0
70934,飞狐外传,1,0.000234,0.000034,0.000177,0.0,0.000000,0.000053,0.0

#Domains

In [ ]:
import pandas as pd
df = pd.read_csv("/content/drive/MyDrive/Dataset/ddf_domains_output_updated.csv", header=0)
display(df)

               txtAuthor  domains
0             !! FiGo !!        1
1      !-Bb0yH4cK3r_Dz-!       86
2                #13bond        4
3                  #3171        0
4              #An0nsouL       15
...                  ...      ...
70930              özgür        0
70931       İsmail NDJDJ        0
70932           ǟʀӄǟʍ ʄӼ        0
70933      αραcнє™ʕ•͡ᴥ•ʔ        0
70934               飞狐外传        6

[70935 rows x 2 columns]

In [ ]:
max_val = int(df['domains'].max())
min_val = int(df['domains'].min())
li = list()
diff = max_val - min_val
for index,row in df.iterrows():
    # print(row["Length_of_messages"])
    val = float((int(row["domains"]) - min_val)/diff)
    # print(type(val))
    li.append(val)

df['Data_Standardization'] = li
display(df.sort_values(by=["Data_Standardization"], ascending=False))

         txtAuthor  domains  Data_Standardization
31360      dvsocks    19621              1.000000
30002  dichvusocks    12528              0.638500
13945     Rockymen     2743              0.139799
67202   viruslover     2271              0.115743
64889      tisocks     2240              0.114163
...            ...      ...                   ...
13933   Rockinhood        0              0.000000
38364         iFzZ        0              0.000000
38365    iGotBoobs        0              0.000000
13932     Rockfish        0              0.000000
35467      gnome71        0              0.000000

[70935 rows x 3 columns]

In [ ]:
from math import log
import pandas as pd

n = len(df)
k = 1/(log(n))
total = df['Data_Standardization'].sum()
p = list()
for index,row in df.iterrows():
    x = row["Data_Standardization"]
    p.append(float(x/total))

# print(p)

e = list()
for i in p:
    if i != 0.0:
        temp = log(i) * i
        e.append(float(temp))
    else:
        e.append(0.0)

entropy_temp = sum(e)
entropy = (-1*k)*entropy_temp

# df["Entropy"] = e
# display(df)

print(entropy)    
data = {'domains': entropy}
#data.to_json()
print(data)

0.7572854328170585
{'domains': 0.7572854328170585}

In [ ]:
li = list()
for index,row in df.iterrows():
    li.append(float(row["Data_Standardization"] * 0.087698931958541))

df_users = df_users.assign(Weighted_Summation_domains = li)

# df_users = df_users.assign(Weighted_Summation_tech_words = li)
# df_ioc = df_users[""]

display(df_users)

,txtAuthor,urls,Data_Standardization,Weighted_Summation_urls,Weighted_Summation_tech_words,Weighted_Summation_knowledge_aq,Weighted_Summation_knowledge_rq,Weighted_Summation_hackerwords,Weighted_Summation_email_addresses,Weighted_Summation_domains
0,!! FiGo !!,1,0.000234,0.000034,0.000000,0.0,0.000000,0.000000,0.0,0.000004
1,!-Bb0yH4cK3r_Dz-!,1,0.000234,0.000034,0.000044,0.0,0.000108,0.000053,0.0,0.000384
2,#13bond,36,0.008435,0.001220,0.000000,0.0,0.000000,0.000000,0.0,0.000018
3,#3171,0,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.0,0.000000
4,#An0nsouL,0,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.0,0.000067
...,...,...,...,...,...,...,...,...,...,...
70930,özgür,0,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.0,0.000000
70931,İsmail NDJDJ,0,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.0,0.000000
70932,ǟʀӄǟʍ ʄӼ,0,0.000000,0.000000,0.000000,0.0,0.000108,0.000000,0.0,0.000000
70933,αραcнє™ʕ•͡ᴥ•ʔ,0,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.0,0.000000
70934,飞狐外传,1,0.000234,0.000034,0.000177,0.0,0.000000,0.000053,0.0,0.000027

#IPv4_CIDR

In [ ]:
import pandas as pd
df = pd.read_csv("/content/drive/MyDrive/Dataset/ddf_ipv4_cidrs_output_updated.csv", header=0)
display(df)

               txtAuthor  ipv4_cidrs
0             !! FiGo !!           0
1      !-Bb0yH4cK3r_Dz-!           0
2                #13bond           0
3                  #3171           0
4              #An0nsouL           0
...                  ...         ...
70930              özgür           0
70931       İsmail NDJDJ           0
70932           ǟʀӄǟʍ ʄӼ           0
70933      αραcнє™ʕ•͡ᴥ•ʔ           0
70934               飞狐外传           0

[70935 rows x 2 columns]

In [ ]:
max_val = int(df['ipv4_cidrs'].max())
min_val = int(df['ipv4_cidrs'].min())
li = list()
diff = max_val - min_val
for index,row in df.iterrows():
    # print(row["Length_of_messages"])
    val = float((int(row["ipv4_cidrs"]) - min_val)/diff)
    # print(type(val))
    li.append(val)

df['Data_Standardization'] = li
display(df.sort_values(by=["Data_Standardization"], ascending=False))

            txtAuthor  ipv4_cidrs  Data_Standardization
7014       HansZimmer           6                   1.0
31336     dustymayron           6                   1.0
31360         dvsocks           6                   1.0
19636      alex-moran           6                   1.0
60457  shopsocks5.com           6                   1.0
...               ...         ...                   ...
23677           bitzz           0                   0.0
23678          bitzzz           0                   0.0
23679        biyakuza           0                   0.0
23680          biz939           0                   0.0
70934            飞狐外传           0                   0.0

[70935 rows x 3 columns]

In [ ]:
from math import log
import pandas as pd

n = len(df)
k = 1/(log(n))
total = df['Data_Standardization'].sum()
p = list()
for index,row in df.iterrows():
    x = row["Data_Standardization"]
    p.append(float(x/total))

# print(p)

e = list()
for i in p:
    if i != 0.0:
        temp = log(i) * i
        e.append(float(temp))
    else:
        e.append(0.0)

entropy_temp = sum(e)
entropy = (-1*k)*entropy_temp

# df["Entropy"] = e
# display(df)

print(entropy)    
data = {'IPv4_CIDRs': entropy}
#data.to_json()
print(data)

0.44858599881564426
{'IPv4_CIDRs': 0.44858599881564426}

In [ ]:
li = list()
for index,row in df.iterrows():
    li.append(float(row["Data_Standardization"] * 0.16613846447881073))
df_users = df_users.assign(Weighted_Summation_ipv4_cidr = li)

# df_users = df_users.assign(Weighted_Summation_tech_words = li)
# df_ioc = df_users[""]

display(df_users)
#display(df_ioc.sort_values(by=["Weighted_Summation_ipv4_cidr"], ascending=False))

,txtAuthor,urls,Data_Standardization,Weighted_Summation_urls,Weighted_Summation_tech_words,Weighted_Summation_knowledge_aq,Weighted_Summation_knowledge_rq,Weighted_Summation_hackerwords,Weighted_Summation_email_addresses,Weighted_Summation_domains,Weighted_Summation_ipv4_cidr
0,!! FiGo !!,1,0.000234,0.000034,0.000000,0.0,0.000000,0.000000,0.0,0.000004,0.0
1,!-Bb0yH4cK3r_Dz-!,1,0.000234,0.000034,0.000044,0.0,0.000108,0.000053,0.0,0.000384,0.0
2,#13bond,36,0.008435,0.001220,0.000000,0.0,0.000000,0.000000,0.0,0.000018,0.0
3,#3171,0,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.0,0.000000,0.0
4,#An0nsouL,0,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.0,0.000067,0.0
...,...,...,...,...,...,...,...,...,...,...,...
70930,özgür,0,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.0,0.000000,0.0
70931,İsmail NDJDJ,0,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.0,0.000000,0.0
70932,ǟʀӄǟʍ ʄӼ,0,0.000000,0.000000,0.000000,0.0,0.000108,0.000000,0.0,0.000000,0.0
70933,αραcнє™ʕ•͡ᴥ•ʔ,0,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.0,0.000000,0.0
70934,飞狐外传,1,0.000234,0.000034,0.000177,0.0,0.000000,0.000053,0.0,0.000027,0.0

#IPV4

In [ ]:
import pandas as pd
df = pd.read_csv("/content/drive/MyDrive/Dataset/ddf_ipv4s_output_updated.csv", header=0)
display(df)

               txtAuthor  ipv4s
0             !! FiGo !!      0
1      !-Bb0yH4cK3r_Dz-!    115
2                #13bond      1
3                  #3171      0
4              #An0nsouL     18
...                  ...    ...
70930              özgür      0
70931       İsmail NDJDJ      0
70932           ǟʀӄǟʍ ʄӼ      0
70933      αραcнє™ʕ•͡ᴥ•ʔ      0
70934               飞狐外传     97

[70935 rows x 2 columns]

In [ ]:
max_val = int(df['ipv4s'].max())
min_val = int(df['ipv4s'].min())
li = list()
diff = max_val - min_val
for index,row in df.iterrows():
    # print(row["Length_of_messages"])
    val = float((int(row["ipv4s"]) - min_val)/diff)
    # print(type(val))
    li.append(val)

df['Data_Standardization'] = li
display(df.sort_values(by=["Data_Standardization"], ascending=False))

            txtAuthor  ipv4s  Data_Standardization
13945        Rockymen  40862              1.000000
31360         dvsocks  21858              0.534922
30002     dichvusocks  13856              0.339093
60457  shopsocks5.com   8750              0.214135
67202      viruslover   3546              0.086780
...               ...    ...                   ...
25646         canan21      0              0.000000
25647       canapelli      0              0.000000
25648         canavar      0              0.000000
25650        cancantv      0              0.000000
35467         gnome71      0              0.000000

[70935 rows x 3 columns]

In [ ]:
from math import log
import pandas as pd

n = len(df)
k = 1/(log(n))
total = df['Data_Standardization'].sum()
p = list()
for index,row in df.iterrows():
    x = row["Data_Standardization"]
    p.append(float(x/total))

# print(p)

e = list()
for i in p:
    if i != 0.0:
        temp = log(i) * i
        e.append(float(temp))
    else:
        e.append(0.0)

entropy_temp = sum(e)
entropy = (-1*k)*entropy_temp

# df["Entropy"] = e
# display(df)

print(entropy)    
data = {'IPv4s': entropy}
#data.to_json()
print(data)

0.7265614285002268
{'IPv4s': 0.7265614285002268}

In [ ]:
li = list()
for index,row in df.iterrows():
    li.append(float(row["Data_Standardization"] * 0.07611497471265172))
df_users = df_users.assign(Weighted_Summation_ipv4 = li)

# df_users = df_users.assign(Weighted_Summation_tech_words = li)
# df_ioc = df_users[""]

display(df_users)
#display(df_ioc.sort_values(by=["Weighted_Summation_ipv4_cidr"], ascending=False))

,txtAuthor,urls,Data_Standardization,Weighted_Summation_urls,Weighted_Summation_tech_words,Weighted_Summation_knowledge_aq,Weighted_Summation_knowledge_rq,Weighted_Summation_hackerwords,Weighted_Summation_email_addresses,Weighted_Summation_domains,Weighted_Summation_ipv4_cidr,Weighted_Summation_ipv4
0,!! FiGo !!,1,0.000234,0.000034,0.000000,0.0,0.000000,0.000000,0.0,0.000004,0.0,0.000000
1,!-Bb0yH4cK3r_Dz-!,1,0.000234,0.000034,0.000044,0.0,0.000108,0.000053,0.0,0.000384,0.0,0.000214
2,#13bond,36,0.008435,0.001220,0.000000,0.0,0.000000,0.000000,0.0,0.000018,0.0,0.000002
3,#3171,0,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.0,0.000000,0.0,0.000000
4,#An0nsouL,0,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.0,0.000067,0.0,0.000034
...,...,...,...,...,...,...,...,...,...,...,...,...
70930,özgür,0,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.0,0.000000,0.0,0.000000
70931,İsmail NDJDJ,0,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.0,0.000000,0.0,0.000000
70932,ǟʀӄǟʍ ʄӼ,0,0.000000,0.000000,0.000000,0.0,0.000108,0.000000,0.0,0.000000,0.0,0.000000
70933,αραcнє™ʕ•͡ᴥ•ʔ,0,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.0,0.000000,0.0,0.000000
70934,飞狐外传,1,0.000234,0.000034,0.000177,0.0,0.000000,0.000053,0.0,0.000027,0.0,0.000181

#IPV6

In [ ]:
import pandas as pd
df = pd.read_csv("/content/drive/MyDrive/Dataset/ddf_ipv6s_output_updated.csv", header=0)
display(df)

               txtAuthor  ipv6s
0             !! FiGo !!      0
1      !-Bb0yH4cK3r_Dz-!      0
2                #13bond      0
3                  #3171      0
4              #An0nsouL      0
...                  ...    ...
70930              özgür      0
70931       İsmail NDJDJ      0
70932           ǟʀӄǟʍ ʄӼ      0
70933      αραcнє™ʕ•͡ᴥ•ʔ      0
70934               飞狐外传      0

[70935 rows x 2 columns]

In [ ]:
max_val = int(df['ipv6s'].max())
min_val = int(df['ipv6s'].min())
li = list()
diff = max_val - min_val
for index,row in df.iterrows():
    # print(row["Length_of_messages"])
    val = float((int(row["ipv6s"]) - min_val)/diff)
    # print(type(val))
    li.append(val)

df['Data_Standardization'] = li
display(df.sort_values(by=["Data_Standardization"], ascending=False))

            txtAuthor  ipv6s  Data_Standardization
1853         Arunr489      3              1.000000
14208            SHON      1              0.333333
45565   liveyourdream      1              0.333333
66509          user91      1              0.333333
41926        junhos12      1              0.333333
...               ...    ...                   ...
23656  bitchpleaseeee      0              0.000000
23657        bitchplz      0              0.000000
23658     bitchtits69      0              0.000000
23659         bitcoin      0              0.000000
70934            飞狐外传      0              0.000000

[70935 rows x 3 columns]

In [ ]:
from math import log
import pandas as pd

n = len(df)
k = 1/(log(n))
total = df['Data_Standardization'].sum()
p = list()
for index,row in df.iterrows():
    x = row["Data_Standardization"]
    p.append(float(x/total))

# print(p)

e = list()
for i in p:
    if i != 0.0:
        temp = log(i) * i
        e.append(float(temp))
    else:
        e.append(0.0)

entropy_temp = sum(e)
entropy = (-1*k)*entropy_temp

# df["Entropy"] = e
# display(df)

print(entropy)    
data = {'IPv6s': entropy}
#data.to_json()
print(data)

0.315308220858473
{'IPv6s': 0.315308220858473}

In [ ]:
li = list()
for index,row in df.iterrows():
    li.append(float(row["Data_Standardization"] * 0.16008194779742257))
df_users = df_users.assign(Weighted_Summation_ipv6 = li)

# df_users = df_users.assign(Weighted_Summation_tech_words = li)
# df_ioc = df_users[""]

display(df_users)
#display(df_ioc.sort_values(by=["Weighted_Summation_ipv4_cidr"], ascending=False))

,txtAuthor,urls,Data_Standardization,Weighted_Summation_urls,Weighted_Summation_tech_words,Weighted_Summation_knowledge_aq,Weighted_Summation_knowledge_rq,Weighted_Summation_hackerwords,Weighted_Summation_email_addresses,Weighted_Summation_domains,Weighted_Summation_ipv4_cidr,Weighted_Summation_ipv4,Weighted_Summation_ipv6
0,!! FiGo !!,1,0.000234,0.000034,0.000000,0.0,0.000000,0.000000,0.0,0.000004,0.0,0.000000,0.0
1,!-Bb0yH4cK3r_Dz-!,1,0.000234,0.000034,0.000044,0.0,0.000108,0.000053,0.0,0.000384,0.0,0.000214,0.0
2,#13bond,36,0.008435,0.001220,0.000000,0.0,0.000000,0.000000,0.0,0.000018,0.0,0.000002,0.0
3,#3171,0,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.0,0.000000,0.0,0.000000,0.0
4,#An0nsouL,0,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.0,0.000067,0.0,0.000034,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
70930,özgür,0,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.0,0.000000,0.0,0.000000,0.0
70931,İsmail NDJDJ,0,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.0,0.000000,0.0,0.000000,0.0
70932,ǟʀӄǟʍ ʄӼ,0,0.000000,0.000000,0.000000,0.0,0.000108,0.000000,0.0,0.000000,0.0,0.000000,0.0
70933,αραcнє™ʕ•͡ᴥ•ʔ,0,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.0,0.000000,0.0,0.000000,0.0
70934,飞狐外传,1,0.000234,0.000034,0.000177,0.0,0.000000,0.000053,0.0,0.000027,0.0,0.000181,0.0

#Exporting entire dataset to CSV

In [ ]:
df_users.to_csv('/content/drive/MyDrive/Dataset/all_metrics.csv')

#ALL RANKS

In [ ]:
import pandas as pd

df_users = pd.read_csv("/content/drive/MyDrive/Dataset/all_metrics.csv", header=0)
df_users = df_users.drop(['urls','Data_Standardization'], axis = 1)
df_users["Total_Rank"] = df_users[['Weighted_Summation_domains','Weighted_Summation_urls','Weighted_Summation_tech_words','Weighted_Summation_knowledge_aq','Weighted_Summation_knowledge_rq','Weighted_Summation_hackerwords','Weighted_Summation_email_addresses','Weighted_Summation_ipv4_cidr','Weighted_Summation_ipv4','Weighted_Summation_ipv6']].sum(axis = 1)


df_users = df_users.sort_values(by=["Total_Rank"], ascending=False)
display(df_users)
df_users.to_csv('/content/drive/MyDrive/Dataset/FINAL_RANKS.csv')

,Unnamed: 0,txtAuthor,Weighted_Summation_urls,Weighted_Summation_tech_words,Weighted_Summation_knowledge_aq,Weighted_Summation_knowledge_rq,Weighted_Summation_hackerwords,Weighted_Summation_email_addresses,Weighted_Summation_domains,Weighted_Summation_ipv4_cidr,Weighted_Summation_ipv4,Weighted_Summation_ipv6,Total_Rank
31360,31360,dvsocks,0.028462,0.119122,0.0,0.106044,0.241510,0.002609,0.087699,0.166138,0.040716,0.0,0.792301
47823,47823,mata00,0.032630,0.228446,0.0,0.218555,0.122154,0.000000,0.001681,0.000000,0.000000,0.0,0.603465
56431,56431,rai10,0.144615,0.154410,0.0,0.107769,0.187243,0.000170,0.003938,0.000000,0.000022,0.0,0.598167
67202,67202,viruslover,0.026260,0.163099,0.0,0.052376,0.097845,0.002099,0.010151,0.110759,0.006605,0.0,0.469193
30002,30002,dichvusocks,0.018670,0.057632,0.0,0.078779,0.171195,0.000142,0.055996,0.000000,0.025810,0.0,0.408224
...,...,...,...,...,...,...,...,...,...,...,...,...,...
39932,39932,james80,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.000000
39933,39933,james83,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.000000
39934,39934,james9023,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.000000
14506,14506,ScarecrowUY,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.000000
35467,35467,gnome71,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.000000